.container {
  display: block;
  flex-direction: column;
  background-color: blueviolet;
  color: wheat;
}

.ul {
  list-style-type: none;
}

#main-heading {
  color: aquamarine;
}

.list-items {
  color: brown;
}
